# папки и файлы, которые не следует включать в репозиторий
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.log
*.env

# папки и файлы, которые обычно не должны быть включены
venv/
*.sqlite3
*.db
*.bak
*.swp
*.swo

# папки и файлы, которые содержат конфиденциальную информацию
secret_key.txt
settings.py
local_settings.py